@model IEnumerable<HomeWork_2.Models.Friend>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FriendId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FriendName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FriendId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FriendName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                        @Html.ActionLink("Edit", "Edit", item) |
                        @Html.ActionLink("Delete", "Delete", item)
                </td>
            </tr>
        }
    }
    
    </tbody>
</table>
